@import '../../VarAndMIxins.scss';
.chair {
    height: 18rem;
    float: left;
    padding-right: 2rem;
}
.resources__img {
    max-width: 100%;
    max-height: 30rem;
    box-shadow: 0 0 1rem 0.2rem #eee;
    margin-right: 4rem;
}

@include tablet {
    .resources__title .section__wrapper {
        background-color: #f5f5f5;
    }
    .resources__title .section__body {
        display: grid;
        grid-template-columns: auto 1fr;
    }
}

@include mobile-sm {
    .resources__img {
        max-height: 25rem;
    }
    .resources__title .section__body {
        display: grid;
        grid-template-columns: 1fr;
    }
}
