@import '../../VarAndMIxins.scss';
.Intro {
    .btn {
        margin-top: 0;
    }
}
.books {
    background-color: #add9b6;
}
.chair {
    display: gird;
    grid-template-columns: 1fr auto;
    align-items: start;

    img {
        height: 15rem;
        padding: 0 2rem;
        margin-bottom: -3rem;
        top: -1rem;
    }
}
.Resources .section__wrapper {
    // text-align: left;
}
.Resources .resources__title .section__wrapper {
    .btn {
        // margin-top: 2rem;
    }
}
.resources__img {
    max-height: 30rem;
    box-shadow: 0 0 1rem 0.2rem #eee;
    margin-right: 4rem;
}
.resources__img--no-shadow {
    box-shadow: none;
}
.resources__img--border {
    border: solid 0.1rem #111;
}
.books-inline-watermark {
    position: absolute;
    width: 80%;
    max-width: 60rem;
    min-width: 40rem;
    top: 20%;
    right: 0%;
    opacity: 0.5;
}
.podcasts-inline-watermark {
    position: absolute;
    bottom: 5rem;
    right: -10rem;
    height: 17rem;
    opacity: 0.8;
}
.videos {
    background-color: #f5f5f5;
    display: block;
    padding: 12rem 0;
}
.video {
    background: #fff;
    padding: 5rem;
    width: 90rem;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    .video__desc {
        flex-grow: 1;
    }
    .btn {
        margin-top: 2rem;
    }
}
.video__icon img {
    height: 9rem;
    margin: 0 4rem 0 8rem;
    opacity: 0.1;
}
.video__title {
    font-family: $FONT_FAMILY_HEADINGS;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.2rem;
    margin-bottom: 0.3rem;
    line-height: 1.2;
}
.video__subtitle {
    font-family: $FONT_FAMILY_HEADINGS;
    text-align: left;
    // text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}
@include tablet {
    .resources__title .section__wrapper {
        background-color: #f5f5f5;
    }
    .podcasts .resources__title .section__wrapper {
        background-color: #fff;
    }
    .resources__title .section__body {
        display: grid;
        grid-template-columns: auto 1fr;
    }
    .resources__img {
        max-width: 18rem;
        max-height: 30rem;
    }
    .video {
        width: 80%;
        display: block;
    }

    .video__icon {
        position: absolute;
        left: 0;
        top: 4rem;
        width: 100%;
        text-align: right;
        img {
            height: 6rem;
        }
    }
}
@include mobile {
}
//diferent media styling because of long word :PSYCHOLOGY
@media only screen and (max-width: 524px) {
    .podcasts-inline-watermark,
    .books-inline-watermark {
        display: none;
    }
    .resources__img {
        max-height: 25rem;
    }
    .resources__title .section__body {
        display: grid;
        grid-template-columns: 1fr;
    }
    .chair img {
        top: 1rem;
    }
    .videos {
        padding: 10rem 0;
    }
    .video {
        width: 85%;
        padding: 6.7rem 3rem 4.4rem;
    }
    .video__icon {
        top: 2rem;
        img {
            height: 4rem;
        }
    }
}
@media only screen and (max-width: 400px) {
    .chair {
        grid-template-columns: 1fr;
    }
}
