/* //blue      #B4D8E6 */
/* //yellow    #F0E478 */
/* //purple    #D8A8E3 */

.Page__bg_grey{
    background-image: url('./imgs/bgGrey.png');
}
.wrapper{
    width: 100rem;
    margin: auto;
    padding-bottom: 23rem;
}

.Home__bg_themed{
    background:  #B4D8E6;
}
.Home__color_themed{
    color:  #B4D8E6;
}
.Therapy__bg_themed{
    background:  #F0E478;
}
.Therapy__color_themed{
    color:  #F0E478;
}
.Contact__bg_themed{
    background:  #D8A8E3;
}
.Contact__color_themed{
    color:  #D8A8E3;
}
