/* //blue      #B4D8E6 */
/* //yellow    #F0E478 */
/* //purple    #D8A8E3 */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #111;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #111;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #111;
}
:-moz-placeholder { /* Firefox 18- */
  color: #111;
}
.text_cntr{
    text-align: center;
}
.cover{
    align-content: end;
    background: rgba(0,0,0,.3);
    color: #fff;
    display: grid;
    height: 100%;
    left: 0;
    padding: 0 0 5% 10%;
    position: absolute;
    top: 0;
    width: 100%;
}

.wrapper{
    width: 100rem;
    margin: auto;
    padding-bottom: 23rem;
}
.btn{
    border: solid .2rem #161412;
    border-radius: 8rem;
    color: #161412;
    cursor: pointer;
    font-size: 1.3rem;
    font-family: sans-serif;
    padding: 1.2rem 0;
    text-align: center;
    /* text-transform: capitalize; */
    width: 20rem;
    margin-top: 4rem;
}
.btn:hover{
    background: #161412;
    color: #fff;
}
.btn_square{
    border: solid .1rem #111;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem 0;
    text-align: center;
    width: 16rem;
}

section{
    display: grid;
    grid-auto-rows: minmax(40vw,1fr);
    grid-template-columns: 50vw 50vw;
}
section div{
    align-content: center;
    display: grid;
    text-align: justify;
}
.section__wrapper{
    width: 60%;
    padding:10rem 0;
    margin: auto;
}
.section__title{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 3rem;
    font-weight: 100;
    font-weight: bold;
    margin-bottom: 4rem;
    text-align: left;
    text-transform: uppercase;
    /* line-height: 1; */
}
.section__subtitle{
    /* border-bottom: solid .1rem #111; */
    font-family:  sans-serif;
    font-size: 1.6rem;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    text-transform: none;
    display: block;
    margin: 1rem 0 2rem ;
}
.section__divider{
    display: block;
    display: none;
    position: absolute;
    width: 2rem;
    height: 10rem;
    left: -1rem;
}
.section__divider.white{
    background: #fff;
    /* display: none; */
}
.Home .section__divider.themed{
    background:  #B4D8E6;
    background: #D7E7F4;
}
.Therapy .section__divider.themed{
    background:  #F0E478;
    background: #f6efad;
}
.Contact .section__divider.themed{
    background:  #D8A8E3;
    background: #ecd5f1;
}



.section__bg_grey,
.Page__bg_grey{
    background-image: url('./imgs/bgGrey.png');
}
.Page__bg_blue{
    background-image: url('./imgs/bgBlue.png');
}
.Home__bg_themed{
    background:  #B4D8E6;
    background: #D7E7F4;
}
.Home__color_themed{
    color:  #B4D8E6;
    /* color: #D7E7F4; */
}
.Therapy__bg_themed{
    background:  #F0E478;
    background: #f6efad;
}
.Therapy__color_themed{
    color:  #F0E478;
    /* color: #f6efad; */
}
.Contact__bg_themed{
    background:  #D8A8E3;
    background: #ecd5f1;
}
.Contact__color_themed{
    color:  #D8A8E3;
    /* color: #ecd5f1; */
}

@media only screen and (max-width: 1200px) {
    .wrapper{
        width: 100%;
        padding: 0 10rem 23rem;
    }

}
@media only screen and (max-width: 1000px) {
    .section__wrapper{
        width: 70%;
    }
    section{
        display: grid;
        grid-auto-rows: minmax(40vw,1fr);
        grid-template-columns: 1fr;
    }
    .cover{
        padding-bottom: 3rem;
    }
}
@media only screen and (max-width: 786px) {
    .wrapper{
        padding: 0 5rem 23rem;
    }

    .Home__color_themed{
        color:  #B4D8E6;
        /* color: #D7E7F4; */
    }

    .Therapy__color_themed{
        color:  #F0E478;
        /* color: #f6efad; */
    }

    .Contact__color_themed{
        color:  #D8A8E3;
        /* color: #ecd5f1; */
    }

}
@media only screen and (max-width: 480px) {
    .wrapper{
        padding: 0 3rem 23rem;
    }
    .section__wrapper{
        width: 80%;
        /* padding: 7rem 0; */
    }
}
