.TherapyIntro__img{
    margin: auto;
    margin-bottom: -5rem;
    /* margin-top: -2rem; */
    width: 115%;
}
.IntegrativeTherapy__bg_respect{
    background-image: url('./../../imgs/respect.png');
    background-position:right center;
    background-size:cover;
}

.FAQ .wrapper{
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.fr1auto{
    align-items: end;
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr auto;
}

.Accordion{
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.accordion__li{
    max-height: 9.5rem;
    margin-bottom: .5rem;
    overflow: hidden;
    transition: .5s;

}
.accordion__li.active{
    max-height: 80rem;
    transition: .75s ease-in;
}
.accordion__li span{
    font-size: 2rem;
}
.accordion__q{
    align-items: center;
    background: rgba(255,255,255,.8);
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 5rem;
    padding: 3rem 2rem 2rem 5rem;
    margin-bottom: .2rem;
    transition: .2s .5s;
    z-index: 2;
}
.accordion__a{
    background: rgba(255,255,255,.8);
    opacity: 0;
    padding: 2rem 7rem 2rem;
    text-align: justify;
    transition: opacity 0s .5s;
}

.accordion__li.active .accordion__q{
    background:  #F0E478;
    background: #F6EFAD;
    font-weight: bold;
    transition: .2s;
}
.accordion__li.active .accordion__a{
    opacity: 1;
    transition: opacity 0s 0s;
}
.Insurance{
    background: #efefef;
}
.Insurance .wrapper{
    padding-top:12rem;
    padding-bottom:8rem;
}
.Insurance__logos{
    text-align: center;
    margin: 0 0 2rem ;
}
.Insurance__logo{
    height: 5rem;
    margin: .5rem 1rem;
}
@media only screen and (max-width: 1200px) {

}
@media only screen and (max-width: 1000px) {
    .TherapyIntro__img{
        width: 100%;
    }
    .IntegrativeTherapy .Therapy__bg_themed{
        background: #fff;
    }
    .IntegrativeTherapy .section__divider.white,
    .IntegrativeTherapy__bg_respect{
        background: #F0E478;
        background: #F6EFAD;
    }

}
@media only screen and (max-width: 786px) {
    .fr1auto{
        grid-template-columns: 1fr;
    }
    .accordion__li{
        max-height: 6rem;
        /* margin-top: -1.5rem; */
    }
    .accordion__q{
        align-items:center;
        background: none;
        grid-column-gap: 1rem;
        grid-template-columns: 1fr 1.5rem;
        padding: 0;
    }
    .accordion__li.active .accordion__q{
        background: none;
        color:  #F0E478;
        font-weight: bold;
        transition: 0s;
    }
    .accordion__li span{
        /* display: none; */
    }
    .accordion__a{
        background: none;
        font-size: 1.4rem;
        padding:  0;
    }
}
@media only screen and (max-width: 480px) {

}
