.Home__bg_hello{
    background-image: url('./../../imgs/hello.png');
    background-position: bottom right;
    background-size:cover;
}
.About__bg_therapist{
    background: #161412;
    background-image: url('./../../imgs/nc.jpg');
    background-size: cover;
    background-position: center ;
}

.Nujoji__pb_links{
    height: 4rem;
    margin: 2rem .2rem -1rem;
}

.Nujoji a{
    text-decoration: none;
    font-weight: bold;
}
.Nujoji .qualifications{
    display: grid;
    grid-template-columns: 2rem auto;
    padding-left: 3rem;
    padding-top: 1rem;
    text-align: left;
}

@media only screen and (max-width: 1200px) {

}
@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 786px) {
    .Home__bg_hello{
        background-position: left top;
    }
}
@media only screen and (max-width: 480px) {

}
