.bullet-img {
    padding: 0 0.8rem 0 1.5rem;
    img {
        width: 2.4rem;
        top: 0.5rem;
    }
}
.bullet {
    padding-right: 1rem;
    color: #c5c5c5;
}
.bullet-circle {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    margin-right: 1rem;
    border: solid 0.1rem #111;
}
